<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>running-with-zebras</display-name>
  <welcome-file-list>
  	<welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  
 <servlet>
  	<description>Servlet used to edit profiles</description>
  	<servlet-name>ProfileEdit</servlet-name>
  	<servlet-class>com.hackathon.runningwithzebras.UpdateProfile</servlet-class>
  </servlet>
  
  <servlet>
  	<description>Servlet used to edit bios</description>
  	<servlet-name>BioEdit</servlet-name>
  	<servlet-class>com.hackathon.runningwithzebras.UpdateBio</servlet-class>
  </servlet>
  
  <servlet>
  	<description>Servlet used to serve up search results</description>
  	<servlet-name>Search</servlet-name>
  	<servlet-class>com.hackathon.runningwithzebras.Search</servlet-class>
  </servlet>
  
  <servlet>
  	<description>Servlet used to save search query</description>
  	<servlet-name>SaveSearch</servlet-name>
  	<servlet-class>com.hackathon.runningwithzebras.SaveSearch</servlet-class>
  </servlet>
  
  <servlet>
  	<description>Servlet used to remove profiles</description>
  	<servlet-name>DeleteProfile</servlet-name>
  	<servlet-class>com.hackathon.runningwithzebras.DeleteProfile</servlet-class>
  </servlet>
  
  <servlet>
  	<description>Converts image to words (doctors + patients)</description>
  	<display-name>ImageUploadTest</display-name>
  	<servlet-name>ImageUploadTest</servlet-name>
  	<servlet-class>com.hackathon.runningwithzebras.ImageUploadTest</servlet-class>
  </servlet>
  
  <servlet>
  	<description>Servlet used to remove searches</description>
  	<display-name>Delete Search</display-name>
  	<servlet-name>DeleteSearch</servlet-name>
  	<servlet-class>com.hackathon.runningwithzebras.DeleteSearch</servlet-class>
  </servlet>
  
  <servlet>
  	<description>Servlet used to explore FDA API</description>
  	<servlet-name>OpenFdaApiExplorer</servlet-name>
  	<servlet-class>com.hackathon.runningwithzebras.OpenFdaApiExplorer</servlet-class>
  </servlet>
  
  <servlet>
  	<description>Servlet used to explore Zebra API</description>
  	<servlet-name>FindZebraApiExplorer</servlet-name>
  	<servlet-class>com.hackathon.runningwithzebras.FindZebraApiExplorer</servlet-class>
  </servlet>
  
 
  
 
  
  
 
  <servlet-mapping>
  <servlet-name>ImageUploadTest</servlet-name>
  <url-pattern>/images</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>ProfileEdit</servlet-name>
  	<url-pattern>/updateprofile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BioEdit</servlet-name>
  	<url-pattern>/updatebio</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Search</servlet-name>
  	<url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SaveSearch</servlet-name>
  	<url-pattern>/saveSearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteProfile</servlet-name>
  	<url-pattern>/deleteProfile</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>DeleteSearch</servlet-name>
  	<url-pattern>/deleteSearch</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>OpenFdaApiExplorer</servlet-name>
  	<url-pattern>/fdaexplorer</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
  	<servlet-name>FindZebraApiExplorer</servlet-name>
  	<url-pattern>/zebraexplorer</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>